# Roy

This is for me to test around and write some functions out for the class, you can create your own notebook and test around if needed. The main notebook will be `StatArb.ipynb`.

In [8]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/coin_universe_150K_40.csv")
df2 = pd.read_csv('data/coin_all_prices.csv')

In [3]:
df.shape

(14015, 42)

In [4]:
df2.shape

(14015, 127)

In [11]:
d = {'A': [np.nan, 12, 5], 'B': [2, np.nan, 3]}

In [14]:
pd.DataFrame(d)

      A    B
0   NaN  2.0
1  12.0  NaN
2   5.0  3.0